body {
    margin: 0;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

body {
    font-family: 'Bebas Neue', sans-serif;
}

nav {
    background-color: rgb(53, 134, 255, 0.9);
    color: azure;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
}
.main_container {
    padding-bottom: 70px;
    top: 70px;
    height: 100vh;
    position: absolute;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.logoimg {
    width: 72px;
    height: 70px;
}

.logo {
    display: flex;
}


#logoName {
    font-size: 24px;
    margin-top: 12%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: azure;
    font-weight: bold;
}

a:hover {
    color: #8cf3f0;
}

body {
    justify-content: center;
    background-image: url(../img/clouds-bg.jpg);
    color: #ffffff;
}

section {
    border: 2px solid #8bb6f6;
    background-color: #fff;
    padding: 20px 40px 20px 40px;
    margin: 20px auto 20px auto;
    width: 80%;
    align-self: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

section h2 {
    font-weight: bold;
    color: #2980b9;
    margin-bottom: 30px;
}

section img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

section .imgDesc {
    margin-bottom: 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2980b9;
    color: #fff;
}

header {
    background-color: #2980b9;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}

.imgDescLabel {
    margin-left: 10px;
    font-size: 12px;
    margin-bottom: 20px;
}

.white-bg {
    position: relative;
    background-color: #58aff6;
    margin-top: 300px;
    margin-bottom: 80px;
    padding-top: 30px;
    width: 100vw;
    height: 250px;
    transform: skewY(5deg);
    z-index: -1;
}

header img {
    object-fit: cover;
}

header {
    position: fixed;
    background: #58aff6;
    top: 70px;
    width: 100vw;
    height: 400px;
    z-index: -1;
    padding: 0;
    border-bottom: 10px solid #8bb6f6;
    overflow-x: hidden
}

.blue-bg {
    margin: auto;
    background-color: #fff;
    width: 100%;
    height: 90%;
    padding-top: 60px;
    text-justify: auto;
    text-align: center;
}

.title {
    font-weight: bold;
    color: #36a3ff;
}
