#popup {
    background: -webkit-linear-gradient(90deg, #085078 10%, #85D8CE 90%); /* Chrome 10+, Saf5.1+ */
  position: relative;
  background-size: auto 10000px;
  background-position: center -50px;
  background-repeat: no-repeat;
    padding: 20px;
    z-index: 500;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
}
#prompt{
    font-size: 50px;
}
.hidden p, span{
    font-size: 20px;
}
.hidden {
    display: none;
    color: #fff
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

.close-btn:hover {
    background-color: transparent;
    color: #007BFF;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #b3b3b3;
}

button:disabled:hover {
    background-color: #b3b3b3;
    cursor: not-allowed;
}

#guess {
    width: 100%;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
}
::placeholder{
    color: #fff;
}
 
#attempts div {
    display: flex;
    margin-top: 10px;
}

#submit_guess {
    margin-left: 32%;
}

.letter {
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
}

.green {
    background-color: #4CAF50;
    color: white;
}

.yellow {
    background-color: #FFEB3B;
    color: black;
}

.grey {
    background-color: #9E9E9E;
    color: white;
}
