@import 'https://fonts.googleapis.com/css?family=Oswald';


html,
body {
	background: #005C97;
	background: linear-gradient(to left, #005C97, #363795);
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 6px;
	overflow: hidden;
}

.container {
	display: flex;
	flex-direction: column;
}


.water-fill {
	animation: wave 0.7s infinite linear,
		fill-up 10s infinite ease-out alternate;
}

@keyframes wave {
	0% {
		x: -400px;
	}

	100% {
		x: 0;
	}
}


@keyframes fill-up {
	0% {
		height: 0;
		y: 130px;
	}

	100% {
		height: 160px;
		y: -30px;
	}
}

.button {
	align-items: center;
	margin-top: 150px;
	margin-left: 250px;
}

.box {

	transform: translate(-50%, -50%);
	position: absolute;
	width: 180px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	cursor: pointer;
	font: 16px/24px Arial, sans-serif;
	background-color: #4973ff;
	transition:
		box-shadow 0.4s ease,
		background-color 0.4s ease,
		color 0.4s ease;
	box-shadow:
		0 0 2px 0 rgba(73, 115, 255, .1),
		0 0 4px 0 rgba(73, 115, 255, .2),
		0 0 6px 0 rgba(73, 115, 255, .3),
		0 0 8px 0 rgba(73, 115, 255, .4),
		0 0 12px 0 rgba(73, 115, 255, .5),
		0 0 18px 0 rgba(73, 115, 255, .6);
}

.box:hover {
	background-color: #ffed02;
	box-shadow:
		0 0 2px 0 rgba(238, 170, 51, 0.1),
		0 0 4px 0 rgba(238, 170, 51, 0.2),
		0 0 6px 0 rgba(238, 170, 51, 0.3),
		0 0 8px 0 rgba(238, 170, 51, 0.4),
		0 0 12px 0 rgba(238, 170, 51, 0.5),
		0 0 18px 0 rgba(238, 170, 51, 0.6),
		0 0 4px 0 rgba(238, 170, 51, 0.7);
}

.box span {
	color: #fff;
	letter-spacing: 8px;
}

.box i {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: 200px;
	background-color: inherit;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
	transition:
		transform 0.4s linear,
		top 1s linear;
	overflow: hidden;
}

.box span a {
	display: block;
	text-align: center;
	line-height: 64px;	
	text-decoration: none;
	width: 180px;
	height: 64px;
	color: #c7ee05;
}

.box i:before,
.box i:after {
	content: "";
	position: absolute;
	width: 200%;
	height: 200%;
	top: 0;
	left: 50%;
	transform: translate(-50%, -75%);
}

.box i:before {
	border-radius: 46%;
	background-color: rgba(20, 20, 20, 0.2);
	animation: animate 5s linear infinite;
}

.box i:after {
	border-radius: 40%;
	background-color: rgba(20, 20, 20, 0.5);
	animation: animate 10s linear infinite;
}