body {
    margin: 0;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: Poppins, serif;
    background-color: black;
}

img {
    width: 450px;
    margin: auto auto 40px auto;
    height: auto;
    object-fit: contain;
    display: block;
    transition: all 1s ease-in-out;
}

.main_container {
    animation: fadeIn ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    height: 100vh;
    position: relative;
    width: 100%;
}

.container {
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.bg{
    width: 1000vw;
    height: 1000vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: url("../Assets/stars.jpg") 0 0 repeat;
    animation-name: MOVE-BG;
    animation-duration: 1000s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes MOVE-BG {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-100%, -50%);
    }
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card {
    background-color: transparent;
    width: 500px;
    height: 110px;
    margin: auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front, .flip-card-back {
    height: 100%;
    width: 100%;
    background-color: rgb(77,77,77);
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.centered-text {
    word-wrap: break-word; /* Allow text to wrap */
    white-space: pre-line; /* Preserve newline characters */
}

.flip-card-back {
    transform: rotateY(180deg);
}

.blinking-cursor {
    margin-left: 5px;
    background-color: #fff;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.1%, 100% {
        opacity: 0;
    }
}
