* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    background-image: url(../img/clouds-bg.jpg);
    background-size: cover;
    background-position-y: 0px;
}

.logoimg {
    width: 72px;
    height: 70px;
}

.logo {
  display: flex;
}


#logoName {
    font-style: bold;
    font-size: 24px;
    margin-top: 12%;
}

section {
    position: relative;
    width: 100%;
}

section .waves {
    position: relative;
}

section .waves .wave {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    background: url(../img/wave.png);
    background-size: 1000px 120px;
}

section .waves .wave#wave1 {
    opacity: 1;
    bottom: 0;
    z-index: 1000;
    animation: animate 4s linear infinite;
}

section .waves .wave#wave2 {
    opacity: 0.5;
    bottom: 10px;
    z-index: 999;
    animation: animate2 4s linear infinite;
}

section .waves .wave#wave3 {
    opacity: 0.2;
    bottom: 15px;
    z-index: 998;
    animation: animate 4s linear infinite;
}

section .waves .wave#wave4 {
    opacity: 0.7;
    bottom: 20px;
    z-index: 999;
    animation: animate2 4s linear infinite;
}

@keyframes animate {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}

nav {
    background-color: rgb(53, 134, 255, 0.9);
    color: azure;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    z-index: 1000;
}
  
.container {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: azure;
    font-weight: bold;
}

a:hover {
    color: #8cf3f0;
}

.clouds {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100%;
    height: 180px;
}

.cloud {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 140px;
}

@keyframes cloudanimate {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 100%;
    }
}

#cloud1 {
    top: -30px;
    z-index: 15;
    background-image: url(../img/cloud.png);
    background-size: contain;
    animation: cloudanimate 28s linear infinite;
}

#cloud2 {
    top: -70px;
    z-index: 16;
    background-image: url(../img/cloud2.svg);
    background-size: contain;
    animation: cloudanimate 32s linear infinite;
}

#cloud3 {
    top: -50px;
    z-index: 17;
    background-image: url(../img/cloud1.svg);
    background-size: contain;
    animation: cloudanimate 36s linear infinite;
}

.droplet {
	position: absolute;
}

.flying {
	position: absolute;
	background-color: rgb(53, 134, 255, 1);
	height: 20px;
	width: 2px;
	transform: rotate(20deg);
	animation: 1.5s flying infinite linear;
	opacity: 0;
}

@keyframes flying {
	0% {
		transform: translate(12000%, -4000%) rotate(20deg);
		opacity: 1;
	}
	100% {
		transform: translate(0, 0) rotate(20deg);
		opacity: 1;
	}
}

#selected {
    color: #8cf3f0
}


@keyframes loadingWave {
    0% {
        clip-path: polygon(0% 100%, 100% 100%, 99% 100%, 81% 100%, 64% 100%, 46% 100%, 29% 100%, 14% 100%, 0 100%);
    }

    10% {
        clip-path: polygon(0% 100%, 100% 100%, 100% 90%, 84% 94%, 66% 95%, 47% 94%, 31% 95%, 14% 96%, 0 94%);    
    }

    20% {
        clip-path: polygon(0% 100%, 100% 100%, 100% 74%, 81% 72%, 63% 72%, 44% 75%, 33% 77%, 16% 78%, 0 74%);                
    }

    40% {
        clip-path: polygon(0% 100%, 100% 100%, 100% 53%, 85% 55%, 67% 58%, 44% 54%, 30% 48%, 15% 47%, 0 49%);                
    }

    60% {
        clip-path: polygon(0% 100%, 100% 100%, 100% 24%, 86% 25%, 69% 29%, 53% 34%, 37% 38%, 18% 40%, 0 38%); 
    }
    
    80% {
        clip-path: polygon(0% 100%, 100% 100%, 100% 22%, 84% 29%, 67% 31%, 45% 27%, 26% 17%, 12% 14%, 0 15%);    
    }

    90% {
        clip-path: polygon(0% 100%, 100% 100%, 100% 5%, 86% 10%, 73% 10%, 55% 6%, 33% 3%, 15% 5%, 0 9%);   
    }

    100% {
        clip-path: polygon(0% 100%, 100% 100%, 100% 0, 86% 0, 71% 0, 55% 0, 34% 0, 18% 0, 0 0); 
      
    }
}
